body {
    background: #1b161d;
    color: white;

}

form {
    background-color: #42104d6c;
    box-shadow:
        inset 0px 0px 20px 3px rgb(112 201 108 / 27%),
        0px 0px 11px 2px #523858ba;
    box-shadow: 1px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(0, -50%);
    place-items: center;
    grid-template-areas:
        "a "
        " b  "
        " c  "
        " d  ";
}


h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
    font-family: system-ui;
    color: #70c96c;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h2 {
    grid-area: a;
}

input[type="text"] {
    grid-area: b;
}

input[type="password"] {
    grid-area: c;
}

button {
    background-color: transparent;
    transition: background-color cubic-bezier(0.44, 0.32, 0.17, 0.84) 1s;
    ;
    color: #ffffff94;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    grid-area: d;
}

button:hover {
    background-color: #3bb13591;
    color: white;
    box-shadow: inset 0px 0px 20px 3px rgb(28 187 21 / 27%), 0px 0px 11px 2px #3e7c4aad;
}