body {
    margin: 0;
    padding: 0;
    background-color: #1b161d;
    /* background: radial-gradient(circle, rgba(80, 56, 94, 1) 0%, rgba(47, 47, 47, 1) 100%); */
    color: white;
    font-family: system-ui;
}

#box {
    display: grid;
    place-items: center;
background-color: #480f7c;
box-shadow: inset -1px 1px 20px 8px #1b161d87;
right: 0;
right: 0;
top: 0;
padding-right: 10px;
padding-left: 20px;
padding-bottom: 20px;
position: absolute;
border-radius: 0 0 0 10px;
}

table {
    border-spacing: 1px;
    border: none;
    /* border-color: white; */
}

thead {
    background-color: blueviolet;
}

tbody {
    background-color: aliceblue;
    color: rgb(49, 44, 48);
}

th {
    border: none;
    padding: 1em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

td {
    padding: 0.3em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form {
    width: 35em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}