body {
    margin: 0;
    padding: 0;
    background-color: #1b161d;
    /* background: radial-gradient(circle, rgba(80, 56, 94, 1) 0%, rgba(47, 47, 47, 1) 100%); */
    color: white;
    font-family: system-ui;
}

h2 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 2%;
}

#box {
    display: grid;
    place-items: center;
    background-color: #480f7c;
    box-shadow: inset -1px 1px 20px 8px #1b161d87;
    right: 0;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: absolute;
    border-radius: 0 0 0 10px;
}

table {
    border-spacing: 1px;
    border: none;
    /* border-color: white; */
}

thead {
    background-color: #6818b280;
    color: #ffffffd1;
}

tbody {
    background-color: #9373856e;
    color: rgb(211 201 209 / 82%);
}

th {
    border: none;
    padding: 1em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

td {
    padding: 0.3em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cadastro {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(66 16 77 / 84%);;
    box-shadow:
        inset 0px 0px 20px 3px rgb(112 201 108 / 27%),
        0px 0px 11px 2px #523858ba;
    padding: 20px;
    border-radius: 10px;
    margin-top: 3%;
    place-items: center;
    grid-template-areas:
        "a "
        " b  "
        " c  "
        " d  ";
}

input {
    padding: 10px;
    background: rgb(118 205 201 / 20%);
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    color: white;
    
}

button {
    margin-top: 5px;
    background-color: #1b161d;
    transition: background-color cubic-bezier(0.44, 0.32, 0.17, 0.84) 1s;
    ;
    color: #ffffff94;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #3bb13591;
    color: white;
    box-shadow: inset 0px 0px 20px 3px rgb(28 187 21 / 27%), 0px 0px 11px 2px #3e7c4aad;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    margin: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(177, 28, 28);
    text-decoration: none;
    cursor: pointer;
}