body {
    margin: 0;
    padding: 0;
    background-color: #1b161d;
    /* background: radial-gradient(circle, rgba(80, 56, 94, 1) 0%, rgba(47, 47, 47, 1) 100%); */
    color: white;
    font-family: system-ui;
}

h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

#box {
    display: grid;
    place-items: center;
    background-color: #480f7c;
    box-shadow: inset -1px 1px 20px 8px #1b161d87;
    right: 0;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: absolute;
    border-radius: 0 0 0 10px;
}

table {
    border-spacing: 1px;
    border: none;
    /* border-color: white; */
}

thead {
    background-color: #6818b280;
    color: #ffffffd1;
}

tbody {
    background-color: #9373856e;
    color: rgb(211 201 209 / 82%);
}

th {
    border: none;
    padding: 1em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

td {
    padding: 0.3em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cadastro {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #42104d6c;
    box-shadow:
        inset 0px 0px 20px 3px rgb(112 201 108 / 27%),
        0px 0px 11px 2px #523858ba;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    margin-top: 3%;
    place-items: center;
    grid-template-areas:
        "a "
        " b  "
        " c  "
        " d  ";
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #1b161d;
    transition: background-color cubic-bezier(0.44, 0.32, 0.17, 0.84) 1s;
    ;
    color: #ffffff94;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #3bb13591;
    color: white;
    box-shadow: inset 0px 0px 20px 3px rgb(28 187 21 / 27%), 0px 0px 11px 2px #3e7c4aad;
}